{% extends "layout.twig" %}

{% block content %}
    <h1>Dashboard</h1>
    <ul>
        <li><a href = "/resume/jobs/add">Add Job</a></li>
        <li><a href = "/resume/users/add">Add User</a></li>
        <li><a href = "/resume/projects/add">Add Project</a></li>
    </ul>
    <a href = "/resume/logout" type = "button">Log Out</a>
{% endblock %}